<div>

	<div layout='row' layout-xs='column' layout-sm='column' layout-padding layout-margin layout-fill style="min-height: 224px;">
		<div layout-padding layout-margin layout-fill style="min-height: 224px;" flex md-whiteframe='5'>Devices
			<md-content>
				<md-list layout="column" layout-align="center">
					<md-list-item class="md-3-line" ng-repeat="device in devicesList">
						<div class="md-list-item-text" layout="column">
							<h2>ID: {{ device.id }}</h2>
							<h3>Name: {{ device.name }}</h3>
							<md-checkbox ng-change='selectDevice(device.name)' aria-label="Checkbox" class="md-secondary" ng-model="device.checked"></md-checkbox>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>




		<div layout-padding layout-margin layout-fill style="min-height: 224px;" flex md-whiteframe='5'>Options

			<md-card-content>
				<div layout="row" layout-align="space-between center">
					<md-select ng-change="sortMedia()" ng-model="sortOptions" placeholder="Name Ascending" class="md-no-underline">
						<md-option ng-value='sort_option' ng-repeat="sort_option in sortOption"> {{ sort_option }} </md-option>
					</md-select>
					
				</div>
				<md-button aria-label="cast" class="md-primary" ng-click="cast()">Cast
				</md-button>
				<md-input-container>
					<input type="number" placeholder="Time" floating-label ng-model="inputTime" />
				</md-input-container>

			</md-card-content>


		</div>

		<div layout-padding layout-margin layout-fill style="min-height: 224px;" flex md-whiteframe='5'>Content
			<md-content>	
				<md-list layout="column" layout-align="center">
					<md-list-item class="md-3-line" ng-repeat="med in media">
						<div class="md-list-item-text" layout="row">
							<h2>{{ $index }}.  {{ med.name }}</h2>
							<span flex></span>
							<md-button aria-label="Order up" class="md-primary md-icon-button" md-no-ink ng-click="moveUp($index)">
								<md-icon md-svg-icon="icons/arrow_up.svg"></md-icon>
							</md-button>
							<md-button aria-label="Order down" class="md-primary md-icon-button" md-no-ink ng-click="moveDown($index)">
								<md-icon md-svg-icon="icons/arrow_down.svg"></md-icon>
							</md-button>
							<md-input-container>
						<!-- 	<input type="number" placeholder="Time" floating-label ng-model="inputLen" />
							</md-input-container>
 -->
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
	</div>

</div>