<div>

	<div layout='row'>
		<div flex>Users
			<md-content>
				<md-list layout="column" layout-align="center">
					<md-list-item class="md-3-line" ng-repeat="user in usersList">
						<div class="md-list-item-text" layout="column">
							<h2>ID: {{ user.id }}</h2>
							<h3>Email: {{ user.email }}</h3>
							<md-checkbox aria-label="Checkbox" class="md-secondary" ng-model="user.checked"></md-checkbox>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>




		<div flex>Options

			<md-card-content>
				<div layout="row" layout-align="space-between center">
					<md-select ng-change="sortMedia()" ng-model="sortOptions" placeholder="Name Ascending" class="md-no-underline">
						<md-option ng-value='sort_option' ng-repeat="sort_option in sortOption"> {{ sort_option }} </md-option>
					</md-select>
				</div>
			</md-card-content>

		</div>

		<div flex>Content
			<md-content>	
				<md-list layout="column" layout-align="center">
					<md-list-item class="md-3-line" ng-repeat="med in media">
						<div class="md-list-item-text" layout="row">
							<h2> {{ med.name }}</h2>
							<span flex></span>
							<md-button aria-label="Order down" class="md-primary md-icon-button" ng-click="moveUp(med.name)">
								<md-icon md-svg-icon="icons/arrow_up.svg"></md-icon>
							</md-button>
							<md-button aria-label="Order down" class="md-primary md-icon-button" ng-click="moveDown(med.name)">
								<md-icon md-svg-icon="icons/arrow_down.svg"></md-icon>
							</md-button>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
	</div>

</div>