<div ng-controller='CastMenuController'>
	<div layout="column">
		<md-toolbar>

			<div class="md-toolbar-tools">
				<span>ADTASTIC</span>
				<md-button ng-click="content()" class="md-raised md-primary" layout='row' layout-allign='center'>Content Manager</md-button>
				<md-button ng-click="users()" class="md-raised md-primary" layout='row' layout-allign='center'>Users Manager</md-button>
        <md-button ng-click="cast()" class="md-raised md-primary" layout='row' layout-allign='center'>Cast Menu</md-button>
        <md-button ng-click="device()" class="md-raised md-primary" layout='row' layout-allign='center'>Device Manager</md-button>
			</div>

		</md-toolbar>
	</div>
</div>