<div>
  <div >
    <form>
      <div class="control-group" layout='row' layout-align='left'>

        <md-input-container>
          <input type="text" placeholder="Name" floating-label ng-model="inputName" />
        </md-input-container>

        <md-input-container>
          <input type="text" placeholder="Url" floating-label ng-model="inputUrl" />
        </md-input-container>

        <div>
          <md-button id='Add' ng-click="add()" class="md-raised md-primary">Add</md-button>
        </div>
        <div>
          <md-button id='edit' ng-click="edit()" class="md-raised md-primary">Edit Content</md-button>
        </div>

        <md-chips ng-model="myTags" placeholder="Add a tag"></md-chips>

        <span flex></span>

        <md-card-content>
          <div layout="row">
            <md-select ng-change="sortMedia()" ng-model="sortOptions" placeholder="Name Ascending" class="md-no-underline">
              <md-option ng-value='sort_option' ng-repeat="sort_option in sortOption">  {{     sort_option }} 
              </md-option>
            </md-select>
          </div>
        </md-card-content>

      </div>
    </form>
  </div>


  <div layout='row' flex layout-sm="column">
    <div md-whiteframe='2' class="demo-md-panel md-padding" flex>
      <md-content>
        <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools">
            <span>Content</span>
          </div>
        </md-toolbar>
        <md-list layout="column" layout-align="center">
          <md-list-item class="md-3-line" ng-repeat="content in contents">

            <md-card>
              <md-card-title>
                <md-card-title-text>
                <span class="md-headline">{{ content.name }}</span>
                  <span class="md-subhead">{{ content.url }}</span>
                </md-card-title-text>
                <div class="md-media-lg card-media" layout-padding>
                  <img ng-src="{{ content.url.substring(0, content.url.length-5) + 't.jpg' }}" alt="{{item.who}}" />
                </div>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="delete(content.id)">Delete</md-button>
                <md-button ng-click="edit(content.id)">Edit</md-button>
              </md-card-actions>
            </md-card>

          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>