<div layout-padding layout-margin layout-fill style="min-height: 224px;">
  <div>
    <div class="control-group" layout='row' layout-align='left' layout-xs='column' flex>

      <md-input-container>
        <input type="text" placeholder="Email" floating-label ng-model="inputEmail">
      </md-input-container>

      <md-input-container>
       <input type="password" placeholder="Password" floating-label ng-model="inputPassword">
     </md-input-container>
     <div>
      <md-button id='userAdd' ng-click="add()" class="md-raised md-primary">Quick Add</md-button>
    </div>
  </div>
  <span class="flex" flex=""></span>
</div> 

<div layout-padding layout-margin layout-fill style="min-height: 224px;" md-whiteframe='8'>
  <div>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>User List</span>
      </div>
    </md-toolbar>
  </div>

  <div layout='column' layout-align='center'>
    <md-content>
      <md-list id=2 layout="column" layout-align="center">
        <md-list-item class="md-3-line" ng-repeat="user in users">
          <div class="md-list-item-text" layout="column">
            <h2>ID: {{ user.id }}</h2>
            <h3>Email: {{ user.email }}</h3>
            <md-button class="md-secondary md-raised" ng-click="delete(user.id)">Delete</md-button>
            <md-button class="md-secondary md-raised" ng-click="showPrompt($event, user.id)">Edit</md-button>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
</div>